---
import Base from '../layouts/Base.astro';
---

<Base title="ABOUT">
  <div class="wrap">
    <div class="section">
      <div class="row-2"><span>WHO</span><span>Jeffry Baecker, based in Antwerp. Trail run enthousiast.</span></div>
      <div class="row-2"><span>WHAT</span><span>A one-way running logbook. No leaderboards, no kudos.</span></div>
    </div>
    <div class="section">
      <div class="row-2"><span>GOAL</span><span>Finish 50K</span></div>
      <div class="row-2"><span>PLAN</span><span><a href="https://docs.google.com/spreadsheets/d/1eWM9DmBr764_EZPUxJGY8xKKBcABpauBJvMWy43097I/edit?usp=sharing" style="text-decoration:underline;">GOOGLE SHEET</a></span></div>
    </div>
    <div class="section">
      <div class="row-2"><span>WATCH</span><span>Suunto Race S</span></div>
      <div class="row-2"><span>DATA</span><span>Tredict</span></div>
      <div class="row-2"><span>COACH</span><span>Claude</span></div>
      <div class="row-2"><span>SITE</span><span>Astro, GitHub Pages</span></div>
    </div>
  </div>
</Base>
